*, *::after, *::before{
    margin:0;

}
body{
    font-family: 'Eczar', serif;
    color: white;
    background-image: url(../Assets/background.jpg);
    background-size: cover;
    text-shadow: black 0.1em 0.1em 0.2em

}
.title{
    color: yellow;
}
main{
    display: flex;
    flex-direction: column;
     align-items: center;
     position: relative;
     margin-top: 5%;

    
}

.title{
    font-family: 'Eczar', serif;
    font-size: 20px;
    justify-content:left;
}

.textNasa{
    font-size: 20px;
    text-align: justify;
    margin: 5%;
    
}

.dateContainer{
    display: flex;
    justify-content: flex-end;
}

#date{
    width: 220px;
    height: 70px;
    font-size: 23px;
    text-align: center;
    color: whitesmoke;
    border-radius: 40px;
    background: transparent;
    font-family: 'Eczar', serif;
    text-shadow: black 0.1em 0.1em 0.2em

   
}

.button{
    font-family: 'Eczar', serif;
    font-size: 21px;
    border-radius: 20px;
    
}
/*text*/


.footer{
    margin-top: 5%;
    text-align: center;
    position: relative;
    bottom:0%;
    width: 100%;
  }

a{
    text-decoration: none;
    color: white;
}


@media (max-width: 600px) {
    
    .footer{
        position: relative;
    }
}
