*, *::after, *::before{
    margin:0;

}
body{
    font-family: 'Eczar', serif;
    color: white;
    background-image: url(../Assets/background.jpg);
    background-size: cover;
    text-shadow: black 0.1em 0.1em 0.2em

}
main{
    display: flex;
    flex-direction: column;
     align-items: center;
     position: relative;
     margin-top: 5%;

    
}

.title{
    font-family: 'Eczar', serif;
    font-size: 20px;
    justify-content:left;
}

.textNasa{
    font-size: 20px;
    text-align: justify;
}

.dateContainer{
    display: flex;
    justify-content: flex-end;
}

#date{
    width: 200px;
    height: 50px;
    font-size: 18px;
    text-align: center;
    color: whitesmoke;
    border-radius: 40px;
    background: transparent;
    font-family: 'Eczar', serif;
   
}

.button{
    font-family: 'Eczar', serif;
    border-radius: 20px;
}
/*text*/


.footer{
    text-align: center;
    position: absolute;
    bottom:0;
    width: 100%;
  }

a{
    text-decoration: none;
    color: white;
}

@media (max-width:500px) {
    
    footer{
        position: initial;
    }
}

